<html>
<head>
<link rel="stylesheet" href="jquery-ui\css\redmond\jquery-ui-1.8rc3.custom.css" type="text/css" />
<link rel="stylesheet" href="buttonbar.css" type="text/css" />
</head>
<body>
<div class="left">
  <ul class="ui-buttonbar">
    <li  class="ui-state-default"><a href="#" class="ui-buttonbar-title">Organizer</a></li>
  </ul>
  <br/>
  <p>month -1</p>
  <p>month </p>
  <p>month +1</p>
</div>
<div class="center">
  <ul class="ui-buttonbar">
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-new">New</a></li>
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-refresh">Refresh</a></li>
    <li class="ui-state-default"><input type="text" name="search" class="search-field"/><a href="#" class="ui-buttonbar-icon ui-buttonbar-search">Search</a></li>
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-tasklist">Task list</a></li>
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-settings">Settings</a></li>
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-help">Help</a></li>
    <li class="ui-state-default"><a href="#" class="ui-buttonbar-icon ui-buttonbar-logout">Logout</a></li>
  </ul>
</div>
</body>
</html>
