html {
  font-family: Verdana,sans-serif;
}

.left {
  float:left;
}

.center {
  float:left;
}

.ui-buttonbar {
  margin: 0px;
  padding: 0px;

}

.ui-buttonbar {
  margin: 0px;
  padding: 0px;
}

.ui-state-default {
  border: 1px solid #dfeffc;
  background-repeat: repeat-x;
  list-style:none outside none;
  padding: 3px 5px;
  float:left;
  border:1px solid #79B7E7;
}

.ui-buttonbar li:hover {
  border: 1px solid #79b7e7;
  background-image: url('jquery-ui/css/redmond/images/ui-bg_glass_75_d0e5f5_1x400.png');
  color: #1d5987;
}

.ui-state-default .ui-button-start {
  background-image: url('bgbutton_start.png');
  background-repeat: no-repeat;
  width: 1px;
  height: 20px;
  padding: 0px;
}

.ui-state-default .ui-button-middle {
  background-image: url('bgbutton_middle.png');
  background-repeat: no-repeat;
  width: 2px;
  height: 20px;
  padding: 0px;
}

.ui-state-default .ui-button-end {
  background-image: url('bgbutton_end.png');
  background-repeat: no-repeat;
  width: 1px;
  height: 20px;
  padding: 0px;
}

.ui-state-default .ui-buttonbar-title{
  width: 10em;
}

.ui-state-default .ui-buttonbar-icon{
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-left: 3px;
}

.ui-state-default .ui-buttonbar-new {
  background-image: url('new.png');
}

.ui-state-default .ui-buttonbar-refresh {
  background-image: url('refresh.png');
}

.ui-state-default .search-field {
  height: 16px;
  font-size: xx-small;
  vertical-align:text-top;
  border: 1px solid #EDEDED;
}

.ui-state-default .ui-buttonbar-search{
  background-image: url('search.png');
}

.ui-state-default .ui-buttonbar-tasklist{
  background-image: url('task_list.png');
}

.ui-state-default .ui-buttonbar-settings{
  background-image: url('settings.png');
}

.ui-state-default .ui-buttonbar-help{
  background-image: url('help.png');
}

.ui-state-default .ui-buttonbar-logout{
  background-image: url('logout.png');
}
