<!--calendar_nav.tmpl-->

<!-- -->
		<!-- MINICAL VIEW -->
		<!-- -->

		<!-- ID set at the registry object -->
		<!-- calendar-nav: Start -->
		<div id="calendar-nav" class="list-container">
		</div>
		<!-- calendar-nav: End -->

		<!-- CALVIEW -->
		<!-- -->

		<!-- ID set at the registry object -->
		<!-- calendar-list: Start -->
		<div id="calendar-list-container" class="list-container">
			<h3>My Calendars</h3>
			<ul id='calendar-list'></ul>
		</div>
		<!-- calendar-list: End -->
		
		<!-- TASKVIEW -->
		<!-- -->

		<!-- ID set at the registry object -->
		<!-- task-list: Start -->
		<div id="task-list-container" class="list-container">
			<h3>My Tasks</h3>
			<ul id='task-list'></ul>
		</div>
		<!-- task-list: End -->
		
		
		<!-- ADMINVIEW -->
		<!-- -->

		<!-- ID set at the registry object -->
		<!-- admin-list: Start -->
		<div id="admin-list-container" class="list-container">
			<h3>Administration</h3>
			<ul id='admin-list'></ul>
		</div>
		<!-- admin-list: End -->

<!--/calendar_nav.tmpl-->